@import url('https://fonts.cdnfonts.com/css/nexa-bold?styles=29919,29913');
:root {
    --primary-color : #0e0643;
    --secondary-color : #170c5e;
    --bk-color: #ddf3ff;
    --active-nav : #ff8009;
    --blue: #1e90ff;
    --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nexa', sans-serif;
}

body {
  font-family: 'Nexa', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bk-color);
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
  /* display: grid;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


header h1 {
  grid-area: 1 / 3 / 2 / 4;
  align-self: center;
  margin: 15px 0px;
}

header a {
  color: white;
}

nav {
  grid-area: 2 / 2 / 3 / 5; 
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px #0606c0
}

nav a {
  width: 140px;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  margin: 2px;
  display: inline-block;
  border-radius: 10px;
  background-color: var(--primary-color);
}

nav a:hover {
  background-color: var(--active-nav);
}

nav a i {
  padding-inline-end: 20px;
}

.active {
  background-color: var(--active-nav);
}

section {
  padding: 20px;
}

section h2 {
  margin: 20px 0px;
  text-align: center;
}

.tab {
  display: none;
}

.active-tab {
  display: block;
}

#body-img 
{
  display: grid;
  justify-content: center;
  padding: 20px;
}

#body-img img {
  max-width: 100%;
  height: 60vh;
  border-radius: 20px;
  box-shadow: 4px 3px 19px 1px #d9d5ec;
}

#android-app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #43c7ed;
}

#android-app div {
  flex: 1;
  text-align: center;
  display: grid;
  justify-content: center;
}

#android-app img {
  max-width: 100%;
  height: auto;
}

#qrcode-img {
  width: 215px;
}

.googlePlay {
  margin-top: 10px;
  background: black;
  padding: 20px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
}

#about-app {
  padding: 20px;
  text-align: center;
}

#about-app h3, #about-app p {
  margin: 10px;
}


footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
}

footer a {
  color: #eaff09;
  text-decoration: none;
}

footer a:hover {
  color: #0978ff;
}


/* Form Styles */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #bce7ff;
  border-radius: 10px;
  box-shadow: 5px 5px 22px 1px rgba(14, 6, 67, 0.131);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0px;
  font-size: 14px;
  font-family: 'Nexa', sans-serif;

}

textarea {
  width: 100%;
  height: 150px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0px; 
  resize: none;
  font-size: 14px;
  font-family: 'Nexa', sans-serif;
}

button {
  width: 100%;
  background-color: var(--blue);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--active-nav);
}

#about-app-txt {
  text-align: center;
  margin: 0px 50px;
  padding: 10px 40px;
}

#contain {
  display: grid;
}

.setting-btn {
  max-width: 400px;
  margin: 6px auto;
  padding: 20px;
}


/* ... other styles ... */

/* Popup Styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bk-color);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 3px 3px 14px 1px var(--primary-color);
  z-index: 1;
}

.popup-content {
  max-width: 400px;
  margin: 0 auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(218, 15, 15);
  text-decoration: none;
  cursor: pointer;
}

/* responsive */

@media only screen and (max-width: 600px) {
  section {
      padding: 10px;
      margin-bottom: 200px;
  }

  #about-app-txt {
      margin: 0px;
      padding: 0px;
  }
  #android-app {
      flex-direction: column-reverse;
  }
}



@media only screen and (max-width: 380px) {
  nav a {
      width: 110px;
  }

  nav a i {
      padding-inline-end: 1px;
  }

}
